body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.top-header {
  background-color: #262626;
  width: 100%;
  display: flex;
  align-items: center;
  height: 35px;
}
.top-header .icon {
  color: white;
  position: absolute;
  left: 30px;
  font-size: 15px;
  cursor: pointer;
}
.top-header .icon span {
  color: #7aa93c;
}
.top-header .buy {
  color: white;
  position: absolute;
  left: 90%;
  font-size: 10px;
  background-color: #7aa93c;
  padding: 3px 10px;
  border-radius: 3px;
  cursor: pointer;
}
.top-header .buy:hover {
  background-color: #668f31;
}

.bot-header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.bot-header nav {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.bot-header nav .logo {
  font-size: 15px;
  margin-right: 20%;
}
.bot-header nav .fa-bars {
  font-size: 15px;
  display: none;
}
.bot-header nav .fa-angle-down {
  display: none;
}
.bot-header nav ul {
  display: flex;
  padding: 0;
}
.bot-header nav ul li {
  list-style-type: none;
  margin-left: 20px;
}
.bot-header nav ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 10px;
}
.bot-header nav ul li a:hover {
  color: #409915;
}
.bot-header nav ul li:first-child a {
  color: #409915;
}

@media (max-width: 850px) {
  .top-header .buy {
    left: 85%;
  }

  .bot-header {
    height: 70px;
    width: 100%;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
  }
  .bot-header nav {
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .bot-header nav .logo {
    font-size: 15px;
    margin: 0;
  }
  .bot-header nav .fa-bars {
    font-size: 15px;
    display: none;
  }
  .bot-header nav .fa-angle-down {
    display: none;
  }
  .bot-header nav ul {
    display: flex;
    padding: 0;
  }
  .bot-header nav ul li {
    list-style-type: none;
    margin-left: 20px;
  }
  .bot-header nav ul li:first-child {
    margin: 0;
  }
  .bot-header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 10px;
  }
  .bot-header nav ul li a:hover {
    color: #409915;
  }
  .bot-header nav ul li:first-child a {
    color: #409915;
  }
}
@media (max-width: 590px) {
  .top-header .buy {
    left: 75%;
  }

  .bot-header {
    height: 70px;
    width: 100%;
    padding: 0 0 0 0;
    display: flex;
    justify-content: center;
  }
  .bot-header nav {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  .bot-header nav .logo {
    font-size: 15px;
    margin: 0;
    margin-right: 30%;
  }
  .bot-header nav .fa-bars {
    font-size: 15px;
    display: flex;
    margin-left: 30%;
    cursor: pointer;
  }
  .bot-header nav .mobile-nav-container {
    background-color: #111;
    position: absolute;
    width: 100%;
    top: 105px;
    display: none;
  }
  .bot-header nav .show {
    display: block;
  }
  .bot-header nav ul {
    display: flex;
    flex-direction: column;
    padding: 0 0;
    margin: 10px 20%;
  }
  .bot-header nav ul li {
    top: 120px;
    display: flex;
    list-style-type: none;
    margin: 0 0 20px 0;
  }
  .bot-header nav ul li .fa-angle-down {
    color: white;
    opacity: 0.6;
    display: block;
    position: absolute;
    left: 75%;
    cursor: pointer;
  }
  .bot-header nav ul li .fa-angle-down:hover {
    color: white;
    opacity: 1;
  }
  .bot-header nav ul li:first-child {
    margin: 20px 0 20px 0;
  }
  .bot-header nav ul li a {
    text-decoration: none;
    color: white;
    opacity: 0.6;
    font-size: 10px;
  }
  .bot-header nav ul li a:hover {
    color: white;
    opacity: 1;
  }
  .bot-header nav ul li:first-child a {
    color: white;
    opacity: 1;
  }
  .bot-header nav ul li:first-child .fa-angle-down {
    opacity: 1;
  }
}/*# sourceMappingURL=styles.css.map */